#legal-stuff {
	padding-top: 80px;
	padding-bottom: 60px;
	border-top: 5px solid #51545a;

	h1 {
		color: #333;
		text-align: center;
	}

	.pdf-list {
		display: block;
		padding: 0px;
		margin: 0px;

		li {
			display: block;
			padding: 0px;
			margin: 0px;
			margin-bottom: 20px;

			a {
				color: #333;
				font-size: 22px;	
				font-family: 'Slabo 13px', sans-serif;
				@media (max-width:767px) {
					font-size: 22px;
				}

				&:hover,
				&:hover {
					text-decoration: underline;
				}

				i {
					dispaly: inline-block;
					width: 60px;
					height: 60px;
					line-height: 60px;
					text-align: center;
					border-radius: 60px;
					background: #b12217;
					color: #fff;
					font-size: 30px;
					font-weight: normal;
					margin-right: 20px;
				}

			}
		}
	}
}