
/* ABOUT */

#about {

	> div:nth-child(1) {
		background: #a9cf54 url('/res/devices-bg.png');
		padding-top: 127px;
		text-align: center;

		p {
			color: #769532;
		}


		.images-group {
		    position: relative;
		    padding-bottom: 330px;
		    margin-top: 130px;
		
		    @media (max-width:992px) {
		    	margin-top: 60px;
		    	padding-bottom: 0px;
		    }
		}

		.image-wrap-1 {
	    	z-index: 3;
	    	position: absolute;
			left: 60px;
			bottom: 0;
		}

		.image-wrap-2 {
			position: absolute;
	    	z-index: 2;
			left: 25%;
			bottom: 0; 

			img {
				max-width: 100%;
				height: auto;
			}

			@media (max-width:992px) {
				position: relative;
	    		width: 100%;
	    		left: auto;
			}	
		}

		.image-wrap-3 {
	    	z-index: 1;
	    	position: absolute;
			right: 60px;
			bottom: 0;
		}
	}

	> div:nth-child(2) {
		background: #51545a;
		z-index: 3;
		position: relative;
		padding-top: 142px;
		padding-bottom: 177px;	
		text-align: center;

		.item-2 {
			.circle {
				background: #ff9800;
			}
		}

		.item-3 {
			.circle {
				background: #00bff3;
			}
		}

		@media (max-width:992px) {
			padding-top: 80px;
			padding-bottom: 0px;

			.row > div {
				margin-bottom: 70px;
			}
		}
	}

	> div:nth-child(3) {
		background: #f0f0f0;

		.desc {
			font-size: 12px;
			padding: 20px;
			text-align: center;
			border-bottom: 1px solid #ffffff;
		}

		.items {
			
			> div { 
				border-left: 1px solid #ffffff;		
				text-align: center;
				padding: 20px;
				font-size: 36px;
				color: #bbbaba;

				&.col-xs-1 {
					margin-left: 0px;
					width: 12.5%;
				}	

				@media (max-width:767px) {
					padding: 15px;
					font-size: 30px;
				}

				@media (max-width:479px) {
					padding: 10px;
					font-size: 20px;
				}
 
			}

			> div:last-child {
				border-right: 1px solid #ffffff;		
			}	
		}

	}
}

#premium {

	padding-top: 100px;
	padding-bottom: 100px;	
	
	h2 {
		color: #51545a; 
		text-align: center;
		margin-bottom: 80px;
	}

	.plan-box {
		border-top: 10px solid #ff9800;
		color: #ff9800;
		padding: 30px;

		p {
			font-size: 32px;
			display: block;
		}

		b {
			font-size: 32px;
			display: block;

			span {
				font-size: 16px;
				font-weight: normal;
			}
		}

		small { 
			color: #a9cf54;
			font-size: 12px;
		}

		ul {
			margin: 0px;
			padding: 0px;
			li {
				color: #c1c3c6; 
				display: block;
				margin-bottom: 8px;
				margin-top: 8px;
				font-weight: normal;
				font-family: 'Slabo 13px',sans-serif;

				i {
					dispaly: inline-block;
					margin-right: 20px;
				}

				&.active {
					color: #51545a; 			
				}
			}
		}

		.btn {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.btn-primary.active {
			color: #ffffff;
			background: #a9cf54;
			border-color: #a9cf54;
		}

		.btn-primary:hover,
		.btn-primary:focus {
			background: transparent;
			border-color: #a9cf54;
			color: #a9cf54;
		}

		&.plan-box-premium {
			border-color: #00bff3;
			color: #00bff3;
		}
	}

}

#get-premium,
#sign-in {
	
	background: #f0f0f0;
	padding-top: 100px;
	padding-bottom: 100px;	
	
	h2 {
		color: #51545a; 
		text-align: center;
		margin-bottom: 80px;
	}
 
}

#get-premium-form {
	text-align: center;

	h2 {
		margin-bottom: 20px;
	}
}


#sign-in-form {
	text-align: center;
}


#sign-up-form {
	text-align: center;

	.radio-1st {
		padding-right: 30px;
	}
}


#upload-form {
	visibility: hidden;
	background: #fff;
	border: 3px solid #333;
	border-radius: 15px;
	padding: 30px 0 10px 0;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);

	h2 {
		font-size: 22px;
		color: #333;
	}

	input {
		border: 1px solid #333;
		padding: 0 7px;
		height: 36px;
		line-height: 36px;
	}

	textarea {
		border: 1px solid #333;
		padding: 7px;
	}

	.form-group {
		margin: 0px;
	}
	
	> small {
		padding-left: 20px;
		padding-right: 20px;		
	}
	
	> div > div {
		text-align: left;
		padding: 20px;
		border-top: 1px dashed #333;
	}

	.align-center {
		text-align: center;
	}	

	big {
		font-size: 56px;
		font-family: 'Slabo 13px',sans-serif;
		color: #aad051;
	}

	.uploader {
		text-align: center;
		font-size: 56px;
		font-family: 'Slabo 13px',sans-serif;
		color: #aad051;

		small {
			font-size: 36px;
		}

		> div {
			width: 212px;
			height: 13px;
			background: url(/res/uploader.png);
			margin: 0 auto;

			> div {
				float: right;
				width: 0%;
				min-width: 1px;
				height: 100%;
				background: #fff;
				opacity: 0.8;
				border-left: 1px solid #a9cf54;
			}
		}
	}

	.files {
		
	}

}