#account-overview {
	
	padding-top: 80px;
	padding-bottom: 60px;
	/*border-top: 5px solid #51545a;*/
	background: #a9cf54 url('/res/devices-bg.png');
	text-align: center;

	.white-box {
		> div {
			background: #ffffff;
			padding: 40px;
			margin-left: 40px;
			margin-right: 10px;
			text-align: left;

			span {
				color: #c1c3c6;
			}

			@media (max-width:767px) {
				margin: 0px 20px 20px 20px; 
			}
		}

	}

	.white-box:last-child {
		> div {
			margin-left: 10px;
			margin-right: 40px;
		}
	}

}

.pay-error-box {
	background: #bd3200;
	color: #fff;
	text-align: center;
	padding: 20px;

	a {
		color: #ffffff;
		text-decoration: underline;
	}
}