* {
	text-rendering: optimizelegibility;
	-moz-text-size-adjust: none; /* Firefox - none | auto | <percentage> */
	-ms-text-size-adjust: 100%; /* IE 10+ - <percentage> */
	-webkit-text-size-adjust: none; /* Webkit - none | auto | <percentage> */
	text-size-adjus: none; /* none | auto | <percentage> */	
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	resize: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
	font-family: inherit;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;
}

a {
	color: #a9cf54;
}

body, html {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;	
}

html {
	overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}


/* CLEAR FIX */

.clearfix { clear: both; overflow: hidden; }
.clearfix-xs { clear: both; overflow: hidden; height: 10px; }
.clearfix-sm { clear: both; overflow: hidden; height: 15px; }
.clearfix-m { clear: both; overflow: hidden; height: 30px; }
.clearfix-lg { clear: both; overflow: hidden; height: 50px; }
.clearfix-xl { clear: both; overflow: hidden; height: 80px; }

/* ALIGNMENT*/

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.float-left { float: left; } 
.float-none { float: none; }
.float-right { float: right; }

/* TABLE */

.table { display: table; border-collapse: collapse; }
.table-row { display: table-row; }
.table-cell { display: table-cell; vertical-align: middle; }

.valign-top { vertical-align: top;  }

/* MAIN FRAME */

#o3-cms-wrapper {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	padding-top: 80px;

	@media (max-width:767px) {
		padding-top: 56px;
	}
}

/*HEADING*/

h1 {
	color: #ffffff;
	font-size: 60px; 
	@media (max-width:767px) {
		font-size: 40px;
	}
}

h2 {
	color: #ffffff;
	font-size: 50px; 
	@media (max-width:767px) {
		font-size: 36px;
	}
}

h3 {
	color: #51545a;
	font-size: 30px;
	font-family: 'Slabo 13px', sans-serif;
	@media (max-width:767px) {
		font-size: 22px;
	}
}

h5 {
	color: #c1c3c7;
	font-size: 30px;	
	font-family: 'Slabo 13px', sans-serif;
	@media (max-width:767px) {
		font-size: 22px;
	}
}

h6 { 
	font-size: 20px;	
	font-family: 'Slabo 13px', sans-serif;
	@media (max-width:767px) {
		font-size: 16px;
	}
}


/* BOOSTRAP */

.btn {
	color: #ffffff;
	border: 1px solid #51545a;
	text-transform: uppercase;
	font-size: 16px;
	background: #51545a;
	border-radius: 0;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	

	-webkit-box-shadow: none !important;
	box-shadow: none !important;

	&:hover,
	&:focus {
		background: transparent;
		color: #51545a;
		border: 1px solid #51545a; 
	}
}

.btn-primary {
	background: #a9cf54;
	border: 1px solid #a9cf54;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	&:hover,
	&:focus,
	&.active {
		color: #a9cf54;
		background: #51545a;
	}
}

.text-primary {
	color: #a9cf54 !important;
}

.input_placeholder { 
	color: #bbc2c7 !important; 
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

form {

	.form-group { 

		.warning {
			display: none;
		}

		&.has-warning {

			.warning {
				display: block;
				text-align: left;
				color: #bd3200;
				font-weight: normal;
				font-size: 13px;
				padding-top: 5px;
			}

			.form-control {
				border: 1px solid #bd3200;

				&:focus { 
					border: 1px solid #bd3200;
					box-shadow: none;
				 	outline: 0 none;
		 		}
			}
		}
	}

	.form-control {

		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    .input_placeholder;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   .input_placeholder;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   .input_placeholder;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			.input_placeholder;
		}
		&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
			.input_placeholder;
		} 

		padding: 0 20px;
		height: 60px; 
		background: #ffffff;
		border-radius: 0px;
		color: #51545a;
		font-size: 16px;
		border: 1px solid #ffffff;
		box-shadow: none;
	 	outline: 0 none;

	 	-webkit-appearance: none;
	 	-moz-appearance: none;
	 	appearance: none;

		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:focus { 

			border: 1px solid #ffffff;
			box-shadow: none;
		 	outline: 0 none;


			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color: #ece6e3 !important;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: #ece6e3 !important;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: #ece6e3 !important;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: #ece6e3 !important;
			}
			&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				color: #ece6e3 !important;
			}
		}
	}

	select.form-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		color: #bbc2c7; 
 		
 		option {
			color: #51545a;
			padding-left: 20px;
		} 

 		&.form-control-selected {
 			color: #51545a;
 		}
		
	}

	textarea.form-control { 
		padding: 20px;
		height: auto;
	}

	.form-group-date {

		:nth-child(1) {
			width: 30%;
			float: left;
		} 

		:nth-child(2) {		
			width: 40%;
			float: left;
		} 

		:nth-child(3) {
			width: 30%;
			float: left;
		} 

	}

	.success-msg {
		padding: 10px 20px;
		background: #00bff3;
		color: #fff;
		margin-bottom: 15px;
	}
	
	.error-msg {
		padding: 10px 20px;
		background: #c85305;
		color: #fff;
		margin-bottom: 15px;
	}
}

.checkbox,
.radio {
	color: #51545a !important;

	span {
		display: inline-block;
		border: 2px solid #51545a;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		margin-right: 5px;

		i {
			visibility: hidden;
		}
	} 	

	&.active {
		span i {
			visibility: visible;
		}
	}
}

.radio {
	span {
		width: 20px;
		height: 20px;

		border-radius: 20px;
		line-height: 14px;
		
		i {
			font-size: 12px;
		}
	}
}

/* CIRCLE ICONS */

.circle {
	display: inline-block;
	color: #ffffff;
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	border-radius: 60px;
	background: #a9cf54;
	font-size: 60px;
	font-weight: normal;
}

/* HEADER */


header {
	width: 100%;
	height: 80px;	
	background: #fff; 
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);

	.logo-holder {
		/*
		display: block;
		margin-top: 15px;
		*/
		line-height: 80px;

		img {
			height: 50px;

			@media (max-width:992px) {
				height: 40px;
			}
		}
	}

	.header-menu {
		nav {
			> ul {
				display: block;
				float: right;

				> li {
					display: inline-block;
					margin-left: 40px;
					line-height: 80px;

					> a {
						display: block;						
						color: #51545a;
						text-transform: uppercase;
						font-size: 16px;

						-webkit-transition: all .3s ease-in-out;
						-moz-transition: all .3s ease-in-out;
						-ms-transition: all .3s ease-in-out;
						-o-transition: all .3s ease-in-out;
						transition: all .3s ease-in-out;

						&:hover,
						&:focus,
						&.active {
							color: #a9cf54;
						}

						&.btn {
							color: #ffffff;
							border: 0px;

							&:hover,
							&:focus,
							&.active {
								color: #ffffff;
								background: #a9cf54;
							}
						}

					}

					@media (max-width:992px) {
						margin-left: 0px;		
						margin-right: 15px;

						&:last-child {
							margin-right: 0px;
						}
					}
				}
			}

			.o3-cms-dropdown {
				
				.o3-cms-dropdown-list {
					position: relative;

					> div {
						position: absolute; 
						right: -15px;
						min-width: 160px;
						background: #45474d;
						margin-top: 15px;
						padding: 20px 20px 10px 20px;
						line-height: 1;
						color: #ffffff;

						> p {
							font-weight: normal;
							font-size: 12px;
						}

						> ul {
							display: block;
							padding: 0px;
							margin: 0px; 
							margin-top: 20px;
							
							> li {
								display: block;
								margin: 15px 0px;

								> a {
									font-size: 16px;
									color: #ffffff;

									&:hover,
									&:focus  {
										color: #a9cf54;
									}
									
								}
							}
						}

						> div {
							position: absolute;
							right: 40px;
							top: -5px;
							width: 10px;
							height: 10px;
							background: #45474d;
							-ms-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					}
				}

			}

		}
	}

	@media (max-width:767px) {
		display: none;
	}
}

@media (max-width:767px) {
	.rd-mobilemenu,
	.rd-mobilepanel {
		display: block;
	}
}

.rd-mobilepanel_toggle {
	background: transparent;
	border: 0px;
}

.rd-mobilepanel_title {
	text-align: right;
	right: 20px;

	img {
		height: 32px;
		margin-top: -2px;
	}
}

.rd-mobilemenu_ul {
	li {
		a {
			color: #51545a;
			text-transform: uppercase;

			&:hover,
			&:focus,
			&.active {
				background: transparent;
				color: #a9cf54;
			}
		}

		.btn {
			text-align: left;
			color: #ffffff;
			border: 0px;

			&:hover,
			&:focus,
			&.active {
				color: #ffffff;
				background: #a9cf54 !important;
			}
		}
	}	
}

.logged-user-item {
	padding-left: 43px !important;
}

/* FOOTER */

footer {
	padding-top: 120px;
	padding-bottom: 120px;
	background: #51545a;
	color: #ffffff;

	@media (max-width:767px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.col-1 {
		font-size: 14px;
 

		ul {
			display: inline-block;
			margin-left: 10px;

			> li {
				display: inline-block;
				border-left: 2px solid #7f8087;

				a {
					display: block;
					padding-left: 10px;
					padding-right: 10px;
				
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}

		@media (max-width:767px) {
			text-align: center;
			padding-bottom: 60px;
		}
	}

	.col-2 {

		> ul {
			float: right;
			padding: 0px;
			margin: 0px;

			@media (max-width:767px) {
				float: none;
				margin: 0 auto;
				display: block;
				text-align: center;
			}

			> li {
				margin-left: 40px;
				display: inline-block;

				@media (max-width:767px) {
					margin-left: 20px;
					margin-right: 20px;
				}	
				

				> a { 
					color: #ffffff;
					font-size: 23px;
					text-decoration: none;
					-moz-transition: 0.3s all ease;
					-o-transition: 0.3s all ease;
					-webkit-transition: 0.3s all ease;
					transition: 0.3s all ease; 
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					-webkit-transform: scale(1);
					transform: scale(1);

					span {
						display: none;
					}
					
					&:hover,
					&:focus {
						color: #a9cf54;
						-moz-transform: scale(1.6);
						-ms-transform: scale(1.6);
						-o-transform: scale(1.6);
						-webkit-transform: scale(1.6);
						transform: scale(1.6);	
					}

				}
			}

		}
	}

}

/* TOP CONTAINER */

.top-container {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
	margin-left: -15px; 
	margin-right: -15px; 

	@media (max-width:767px) {
		padding-top: 120px;
		padding-bottom: 120px;	
	}
}